@import "../Base/global";

header {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: 100svh;
  background-color: $color-black;
  overflow: clip;
}

.header {
  &__video {
    position: absolute;
    inset: 0;
    inline-size: 100lvi;
    background-color: $color-black;
    opacity: var(--video-opacity, 0);
    transition: opacity 0.8s linear;
    z-index: 1;
    pointer-events: none;

    &.is-playing {
      --video-opacity: 1;
    }

    @include res-max-laptop-s {
      inline-size: auto;
      block-size: 100%;
    }

    @include res-max-mobile-l {
      inline-size: 100lvi;
      block-size: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__ar-btn {
    display: none;
    @include res-max-tablet {
      display: inline-flex;
    }
  }

  &__eshop-btn {
    @include res-max-tablet {
      display: none;
    }
  }

  &__content {
    @include flex-set(flex, column, wrap, var(--c_gap, 3em), center, center);
    animation:
      headerTitleAnim 0.5s ease-in-out forwards,
      headerDescAnim 0.5s ease-in-out 0.25s forwards,
      headerBtnAnim 0.5s ease-in-out 1s forwards;
    z-index: 3;

    @include res-max-tablet {
      inline-size: 100%;
      padding-inline: $gap-l;
      text-align: center;
    }

    > div:has(> h1) {
      mix-blend-mode: soft-light;
    }

    h1 {
      position: relative;
      display: inline-block;
      opacity: var(--c-item-title_opacity);
      opacity: var(--header-title_opacity, 0);
      filter: opacity(0.5);
      font-family: $font-title;
      font-size: clamp($gap-xxl, 10dvi, 16rem);
      font-weight: 900;
      line-height: 1;
      letter-spacing: 0.1em;
      color: $color-white;
      text-transform: uppercase;
      text-shadow: var(--color-black) 0 0 1.5rem;
      translate: 0 var(--header-title_translate-y, 1rem);
      transition:
        opacity 1s var(--trans-fnc),
        translate 1s var(--trans-fnc);

      @include res-max-laptop-s {
        font-size: clamp($gap-xxl, 6dvi, 10rem);
      }

      @include res-max-tablet {
        font-size: clamp($gap-xl, 8dvi, 7rem);
      }

      @include res-max-mobile-l {
        font-size: clamp($gap-xl, 10vh, 4rem);
      }
    }

    > strong {
      opacity: var(--header-desc_opacity, 0);
      font-family: $font-title;
      font-size: clamp($gap-xl, 5svi, 4rem);
      line-height: 1;
      letter-spacing: 0.2em;
      color: $color-white;
      text-shadow: var(--color-black) 0 0 1.5rem;
      translate: 0 -2.5vh;
      translate: 0 var(--header-desc_translate-y, -1vh);
      transition:
        opacity 1s var(--trans-fnc),
        translate 1s var(--trans-fnc);

      @include res-max-laptop-s {
        font-size: clamp($gap-l, 4vi, $gap-xl);
      }
    }
  }

  &__buttons {
    @include flex-set(inline-flex, row, nowrap, $gap-l, stretch, stretch);
    margin-block-start: 2.5vh;
    opacity: var(--header-btn_opacity, 0);
    translate: 0 var(--btn_trans-y, -1vh);
    transition:
      opacity 0.5s var(--trans-fnc),
      translate 0.5s var(--trans-fnc),
      box-shadow var(--trans-time) var(--trans-fnc);

    @include res-max-mobile-l {
      flex-direction: column;
    }

    > .button {
      min-block-size: 52px;
    }
  }
}

@keyframes headerTitleAnim {
  from {
    --header-title_opacity: 0;
    --header-title_translate-y: 1rem;
  }
  to {
    --header-title_opacity: 1;
    --header-title_translate-y: 0;
  }
}

@keyframes headerDescAnim {
  from {
    --header-desc_opacity: 0;
    --header-desc_translate-y: -1vh;
  }
  to {
    --header-desc_opacity: 1;
    --header-desc_translate-y: -2.5vh;
  }
}

@keyframes headerBtnAnim {
  from {
    --header-btn_opacity: 0;
    --btn_trans-y: -1vh;
  }
  to {
    --header-btn_opacity: 1;
    --btn_trans-y: 0;
  }
}
