@import "../Base/global";

.price-list {
  --image-size: 560px;
  --row-count: 13;
  --row-size: calc(var(--image-size) / var(--row-count));
  position: relative;
  min-block-size: 100svb;
  font-family: $font-text;
  color: $color-white;

  @include res-max-tablet {
    --icon_size: #{$gap-xxl};
    --icon-img_size: #{$gap-xl};
  }

  .container--l {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__contact-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-l;
    margin-block-start: $gap-s;
  }

  &__discount-emphasis {
    color: $color-primary--lighten;
    font-size: 1.2em;
    font-weight: 900;
  }

  &__vat-note {
    font-style: italic;
  }

  &__scroll-wrapper {
    position: relative;
    margin-block-end: $gap-xxl;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__container {
    @include grid-columns(
      grid,
      var(--price-container_col-template, 240px minmax($width-tablet, 1fr) $width-mobile-m),
      0,
      stretch
    );
    grid-template-rows: auto repeat(var(--row-count), 1fr);
    align-items: start;
    align-content: start;
    min-inline-size: $width-laptop-l;
    margin-block-start: 5svb;

    @include res-max-tablet {
      --price-container_col-template: 240px max-content #{$width-mobile-s};
    }

    @include res-max-mobile-l {
      --price-container_col-template: 130px max-content 220px;
    }
  }

  &__features {
    @include grid-row-span(var(--row-count));
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: subgrid;
    justify-content: stretch;
    padding: 0;
    margin: 0;
    background-color: $color-secondary;
    font-size: larger;
    list-style: none;
    overflow: hidden;
    z-index: 1;
    grid-row-start: 2;

    > li {
      display: grid;
      align-content: center;
      padding-inline-start: $gap-l;
      &:nth-child(even) {
        background-color: $color-black--light;
      }
      > :is(a, span) {
        display: flex;
        align-items: center;
        block-size: var(--row-size);
        gap: $gap-l;
        font-size: clamp(14px, 2.5svi, 20px);

        @include res-max-tablet {
          gap: $gap-m;
        }
      }

      > span {
        text-decoration: none;
      }
    }
  }

  &__icon {
    --icon_size: 50px;
    --icon-img_size: #{$gap-xxl};
    display: grid;
    place-items: center;
    inline-size: var(--icon_size);
    block-size: var(--icon_size);
    aspect-ratio: 1;
    background-color: $color-white;
    border-radius: 50%;

    @include res-max-tablet {
      --icon_size: #{$gap-xxl};
      --icon-img_size: #{$gap-xl};
    }

    @include res-max-mobile-l {
      display: none;
    }

    > span {
      font-size: $gap-l;
      font-weight: 900;
      color: $color-black;

      @include res-max-tablet {
        font-size: $gap-m;
      }
    }
  }

  &__items {
    @include grid-columns(grid, repeat(3, minmax($gap-xl, 1fr)), 0, stretch);
    @include grid-row-span(calc(var(--row-count) + 1));
    grid-template-rows: subgrid;
  }

  &__preview {
    --price-list-preview_pad-left: clamp(#{$gap-m}, 5svi, #{$gap-xxl});
    @include grid-row-span(var(--row-count));
    position: relative;
    display: grid;
    align-items: var(--price-list-preview_ai, end);
    padding-inline-start: var(--price-list-preview_pad-left);
    grid-column-start: 3;
    grid-row-start: 2;

    @include res-max-tablet {
      position: sticky;
      left: $width-mobile-s;
      align-self: center;
    }

    @include res-max-mobile-l {
      left: 130px;
    }

    > img {
      max-inline-size: 100%;
      max-block-size: var(--image-size);
      scale: -1 1;
    }

    > svg {
      position: absolute;
      inline-size: 23.5%;
      aspect-ratio: 1.4 / 5.6;
      translate: var(--price-list-preview_pad-left) 0;
      z-index: 2;

      @include res-max-tablet {
        inline-size: 32%;
      }
    }
  }
}

.price-item {
  display: grid;
  @include grid-row-span(calc(var(--row-count) + 1));
  grid-template-rows: subgrid;

  &:hover {
    --price-item_border-color: #{$color-primary};
    --price-item-header_scale: 1.05;
    --price-item-icon_scale: 1.1;
    --price-item-header_bg: #{$color-black--light};
    --price-item-icon_shadow-size: #{$gap-m};
  }

  &__header {
    position: relative;
    display: grid;
    align-content: space-between;
    row-gap: $gap-s;
    padding: var(--price-item-headr_padding, $gap-l);
    margin-inline: var(--price-item-header_mg, $gap-xxl);
    background-color: var(--price-item-header_bg, $color-trans);
    border: 2px solid var(--price-item_border-color, $color-border);
    border-radius: $gap-l;
    text-align: center;
    scale: var(--price-item-header_scale, 1);
    transition:
      border-color $trans-time ease-in-out,
      background-color $trans-time ease-in-out,
      scale $trans-time ease-in-out;
    isolation: isolate;
    z-index: 10;

    @include res-max-tablet {
      --price-item-headr_padding: #{$gap-m};
      --price-item-header_mg: #{$gap-m};
    }

    > strong {
      font-size: clamp(1rem, 3.5svi, 2.5rem);
      color: $color-primary;
    }

    span {
      font-size: clamp(12px, 1.8svi, $gap-l);
      font-weight: 900;
      white-space: nowrap;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: subgrid;
    justify-content: stretch;
    padding: 0;
    margin: 0;
    list-style: none;

    @include grid-row-span(var(--row-count));

    li {
      @include flex-set(flex, row, nowrap, $gap-l, center, center, center);
      block-size: var(--row-size);
      font-size: $gap-l;

      &:nth-child(even) {
        background-color: $color-black--light;
      }

      > .icon {
        scale: var(--price-item-icon_scale, 0.9);
        transition:
          scale $trans-time ease-in-out,
          filter $trans-time ease-in-out;

        @include res-max-mobile-l {
          --icon-size: #{$gap-l};
        }

        &.icon-check {
          filter: drop-shadow(0 0 var(--price-item-icon_shadow-size) $color-primary);
          fill: $color-primary;
        }

        &.icon-close-bold {
          fill: $color-border;
        }
      }
    }
  }
}
